{{- $accessToken := promptStringOnce . "accessToken" "Enter BWS accessToken:" -}}
{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isWSL   := and $isLinux (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $isMacOS := eq .chezmoi.os "darwin" -}}
{{- $isBlueX := and $isLinux (or (eq .chezmoi.osRelease.name "Bluefin") (eq .chezmoi.osRelease.name "Bazzite")) -}}
{{- $isTTY   := or (env "SSH_TTY") $isWSL -}}
{{- $machines := include ".chezmoidata/machines.yaml" | fromYaml -}}
{{- $machineClass := index $machines.machines .chezmoi.hostname -}}
{{- if not $machineClass -}}
{{-   $machineClass = promptChoiceOnce . "machineClass" "Is this machine used for work or personal?" (list "work" "personal") -}}
{{- end -}}
{{- $work := eq $machineClass "work" -}}
{{- $personal := eq $machineClass "personal" -}}
{{- $email := (bitwardenSecrets "354ca96f-9e26-4a37-979f-b160014a2f37" $accessToken).value -}}
{{- $name := "returntrip" -}}
{{- if $work -}}
{{-   $email = (bitwardenSecrets "50f6d975-7c16-4f10-a24f-b160013dbe1d" $accessToken).value -}}
{{-   $name = "Stefano Figura" -}}
{{- end -}}
{{- $brewPrefix := "/home/linuxbrew/.linuxbrew" -}}
{{- if $isMacOS -}}
{{-   $brewPrefix = ternary "/opt/homebrew" "/usr/local" (eq .chezmoi.arch "arm64") -}}
{{- end -}}
{{- $brewBin := printf "%s/bin" $brewPrefix -}}
[git]
    autoCommit = true

[data]

    accessToken = {{ $accessToken | quote }}
    machineClass = {{ $machineClass | quote }}
    work = {{ $work }}
    personal = {{ $personal }}
    isLinux = {{ $isLinux }}
    isWSL = {{ $isWSL }}
    isMacOS = {{ $isMacOS }}
    isBlueX = {{ $isBlueX }}
    isTTY = {{ $isTTY }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    brew_prefix = {{ $brewPrefix | quote }}
    brew_bin = {{ $brewBin | quote }}
