[user]
    email = {{ .email | quote }}
    name = {{ .name | quote }}
    signingkey = 0xE8D9210D206385D6
{{- if eq .chezmoi.os "linux" }}
{{-  if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[core]
    editor = nvim
{{-  end }}
{{- end }}
{{- if eq .chezmoi.hostname "rauros" }}
    editor = io.neovim.nvim
{{- end }}
{{ if lookPath "difft" }}
[diff]
    external = difft
{{ end }}
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
    path = nvim
[color]
    ui = auto
[init]
    defaultBranch = main
[url "https://github.com/returntrip/dotfiles.git"]
  insteadOf = "git@github.com:returntrip/dotfiles.git"
#[url "https://github.com/"]
# insteadOf = "git@github.com:"
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "git@github.com:"
