[user]
#{{- if .work }}
    email = {{ .work-email || quote }}
#{{- end }}
{{- if eq .chezmoi.hostname "rauros" "t490s-sb" }}
    email = "stefano@figura.im"
{{- end }}
    name = returntrip
    signingkey = 0xE8D9210D206385D6
{{- if eq .chezmoi.os "linux" }}
{{-  if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[core]
    editor = nvim
{{-  end }}
{{- end }}
{{- if eq .chezmoi.hostname "rauros" }}
    editor = io.neovim.nvim
{{- end }}
{{ if lookPath "difft" }}
[diff]
    external = difft
{{ end }}
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
    path = nvim
[color]
    ui = auto
[init]
    defaultBranch = main
[url "https://github.com/"]
  insteadOf = "git@github.com:"
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "git@github.com:"
