{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

## Install homebrew
if ! command -v brew &> /dev/null; then
  if grep -q "Bluefin" /etc/os-release; then
    echo "YES I UNDERSTAND" | ujust install-brew
  else
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  fi
fi

## Install ble.sh
if [ ! -d "$HOME/ble.sh" ]; then
  cd "$HOME" || exit
  git clone --recursive https://github.com/akinomyoga/ble.sh.git
  cd ble.sh || exit
  make
  make INSDIR="$HOME/.local/share/blesh" install
fi

## Install bws via mise
if ! command -v mise &> /dev/null; then
  export PATH=$PATH:/home/linuxbrew/.linuxbrew/bin
  brew install mise
  mise use -gy usage
  mise use -gy bitwarden-secrets-manager@latest
fi
{{ end -}}
