{{ if or .isLinux .isMacOS -}}
#!/bin/bash

## Install homebrew
if ! command -v brew &> /dev/null; then
  {{- if .isBlueX }}
    echo "YES I UNDERSTAND" | ujust install-brew
  {{- else }}
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  {{- end }}
fi

{{- if .isLinux }}
## Install ble.sh
if [ ! -d "$HOME/ble.sh" ]; then
  cd "$HOME" || exit
  git clone --recursive https://github.com/akinomyoga/ble.sh.git
  cd "$HOME/ble.sh" || exit
  make
  make INSDIR="$HOME/.local/share/blesh" install
fi
{{- end }}

## Install kubectl and krew
if ! command -v kubectl &> /dev/null || ! command -v krew &> /dev/null; then
  export PATH=$PATH:{{ .brew_bin }}
  {{ .brew_bin }}/brew install kubernetes-cli krew
fi

## Install bws via mise
if ! command -v mise &> /dev/null; then
  export PATH=$PATH:{{ .brew_bin }}
  {{ .brew_bin }}/brew install mise
  {{ .brew_bin }}/mise use -gy usage
  {{ .brew_bin }}/mise use -gy bitwarden-secrets-manager@latest
fi
{{ end -}}
