{{ if or .isLinux .isMacOS -}}
#!/bin/bash
{{ .brew_bin }}/brew bundle --file=/dev/stdin <<EOF
{{ range .packages.linux.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ if .isWSL }}
{{ range .packages.wsl.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
