{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.linux.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
