{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.name "Bluefin") }}
[misc]
no_self_update = true
disable = ["system", "flatpak", "distrobox", "firmware", "node", "toolbx", "helm", "self_update", ]
ignore_failures = ["distrobox", "flatpak", "brew_cask", "brew_formula", "nix", "node", "pip3", "home_manager", "firmware"]
assume_yes = true
no_retry = false
{{- if (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

[linux]
dnf_arguments = "-y"
{{- end }}
{{- end }}

[post_commands]
"ble.sh update" = "[[ -f ~/.local/share/blesh/ble.sh ]] && source ~/.local/share/blesh/ble.sh --update"
