{{- $work := false -}}{{/* true if this machine is used for work related tasks */}}
{{- $personal := false -}}{{/* true if this machine is used for personal tasks */}}

[git]
    autoCommit = true

[data]
    work = {{ $work }}
    personal = {{ $personal }}
    work_mail = "stefano.figura@tietoevry.com"
    personal_mail = "stefano@figura.im"
