{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}

[git]
    autoCommit = true

[data]
    work_mail = "stefano.figura@tietoevry.com"
    personal_mail = "stefano@figura.im"
