[character]
success_symbol = "[❯❯](bold green)"
error_symbol = "[❯❯](bold red)"

[hostname]
ssh_only = false

[docker_context]
disabled = false

[username]
show_always = true
style_user = "white"

[git_branch]
symbol = " "

{{- if eq .chezmoi.osRelease.id "fedoraremixforwsl" }}
[container]
disabled = true
{{- end  }}

{{- if (or (eq .chezmoi.hostname "anduin") (eq .chezmoi.hostname "rauros")) }}
[custom.toolbox]
style = "fg:bold blue"
description = "The activated toolbox container"
command = "echo ${DISTTAG%container}"
when = """ [[ -f /run/.containerenv && -f /run/.toolboxenv ]] """
format = "[\\[⬢  $output\\]]($style) "
disabled = false
{{- end }}
